.product-page {
    padding-top: 149px;
    &__wrapper {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        .product-page__image {
            flex: 1;
            &-item {
                background-image: url("/src/assets/background_product.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .product-page__detail {
            margin: 20px;
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: flex-start;
            &-size {
                text-align: left;
                p {
                    margin: 10px 0;
                }
                &-list {
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    align-items: flex-start;
                }
            }
            &-description {
                p {
                    margin: 10px 0;
                    text-align: left;
                }
                ul {
                    margin-top: 10px;
                    margin-left: 15px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                    li {
                        text-align: left;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}
