.header-component {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 6px 0;
    &-item {
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__type {
    display: flex;
    gap: 10px;
    margin: 6px 0;
    &-item {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
