#root {
  width: 100%;
  color: var(--text-color-main);
}
.my-app {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh) * 100);
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  .header--sticky {
    position: fixed;
  }
  .header {
    z-index: 115;
    position: relative;
    min-height: 65px;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    color: var(--color-black);
  }
  .header--sticky {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0; 
    z-index: 1000;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
}
